{% extends 'myapp/base.html' %} 
{% block title %}About
{% endblock title %} 
{% block body %} 
<div class="container" style="display: flex; align-items: center;justify-items: center; padding: 15px 0px">
    <div class="container-fluid px-0">
    <img src="/static/myapp/img/13.jpeg" width="525px" height="250px" alt="..."></div>
    <div class="txt" style="padding: 0px 50px 0px 0px;"><h3>Training Team</h3>
    <h6>Nik and his team is highly passionate about their tattoos and their clients and it shows in the level of service they provide.Their customer friendly team not only provides the best service but also train the new comers in the tattoo arena. <br>Even if you are brand new and wants to set the world on fire, they are here to instruct and up-skill you so that you can show the world that you know the best.In no days, they will jelled you providing “Wings to your dreams”..</h6></div>
</div>
<div class="container" style="display: flex; align-items: center;justify-items: center;">
    <div class="txt" style="padding: 0px 50px 0px 0px;"><h3>Lifestyle</h3>
    <h6>He loves what he do.He is a tattoo lover.He loves to be captured especially when he is fully professional.Not only he featured for some of the big brands but also in music videos.He is an adventurous dude.He always seek out, create or seize the opportunities for adventure that exist around him.Other than this, his nocturnal habits makes him distinctive.Being big party animal, he is crazy about night-outs.
     Moreover travelling around and exploring innovative things is one of the best experiences which he never miss out that is why he loves chilling outside the town as well as on foreign tours.Few of them are Dubai,Thailand,Phi Phi ,Singapore,Russia,Holland etc….</h6></div>
     <div class="container-fluid px-0">
        <img src="/static/myapp/img/10.jpeg" width="525px" height="250px" alt="..."></div>
</div>







{% endblock body %}
 